black==22.12.0
build==0.10.0
certifi==2023.7.22
charset-normalizer==2.1.1
click==8.1.7
idna==3.4
isort==5.12.0
mypy-extensions==0.4.3
packaging==23.1
pathspec==0.10.3
platformdirs==2.6.2
pyproject_hooks==1.0.0
requests==2.31.0
tomli==2.0.1
urllib3==1.26.13
